[submodule "Applio"]
	path = Applio
	url = https://github.com/HB674/Applio.git
[submodule "SadTalker"]
	path = SadTalker
	url = https://github.com/HB674/SadTalker.git
[submodule "Wav2Lip"]
	path = Wav2Lip
	url = https://github.com/HB674/Wav2Lip.git
[submodule "GFPGAN"]
	path = GFPGAN
	url = https://github.com/HB674/GFPGAN.git
